@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green !important;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 400px;
  height: 500px;
  display: flex;
  justify-content: space-between;
}
.card span {
  width: 100%;
  padding: 10px 15px;
  font-size: 3rem;
}
.card span:nth-child(1) {
  text-align: left;
}
.card span:nth-child(2) {
  text-align: center;
}
.card span:nth-child(3) {
  text-align: left;
  transform: rotate(180deg);
}
