@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: green;
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.card {
  display: inline-block;
  background: white;
  margin: auto;
  height: 300px;
  width: 200px;
  padding: 80px;
  font-size: 60px;
  margin-top: 50px;
  border-radius: 5px;
  border: 1px solid black;
}
.up {
  position: absolute;
  top: 0px;
  left: 20px;
  font-size: 60px;
}
/* .num {
  position: absolute;
  height: 40vh;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
} */
.down {
  position: absolute;
  bottom: 0px;
  right: 20px;
  font-size: 60px;
}
